<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Customer List Page</title>

</head>
<body>
	<label>Thyme Leaf Result</label>
	<table border="1">	
		<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Age</th>
		<th>Gender</th>
		<th>birthday</th>
		</tr>

		<tr th:each="customer : ${customers}">
			<td th:text="${customer.id}">User Id</td>
			<td th:text="${customer.name}">Name</td>
			<td th:text="${customer.email}">email</td>
			<td th:text="${customer.age}">age</td>
			<td th:text="${customer.gender}">Gender</td>
			<td th:text="${customer.birthday}">birthday</td>
		</tr>
	</table>

</body>
</html>